.mat-raised-button.mat-primary{
                background-color: rgb(57,101,209) !important;
}

.logo {
                width: 45px;
               height: 45px;
               margin: 10px;
               }
               
               .main-logo {
               display: inline-block;
               }
               
               .logo-text {
               color: white;
               text-shadow: 1px 1px 2px #363a8a, 0 0 15px #70c2d4, 0 0 5px #5858bc;
               font-family: 'Wallpoet', cursive;
               font-size: 43px;
               padding: 15px 0px 10px 10px;
               }
               
               .card{
                               border:none !important;
               }