<div class="col-md-6 offset-md-3 mt-5">
    <!-- <div class="alert alert-info">
        Username: test<br /> Password: test
    </div> -->
    <div class="card">

        <div class="main-logo">
            <img class='logo' src="../../assets/images/callogo-gradient.png">
            <span class="logo-text" style="    display: flex;
            justify-content: center;">IVY</span>
        </div>
        <h1 mat-dialog-title>
            Log in!</h1>

        <div class="card-body">
            <form [formGroup]="loginForm">

                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>

                        <input required formControlName="email" name='email' type="email" matInput placeholder="Email">
                        <!-- <mat-error *ngIf="loginForm.get('email').hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>

                        <input [(ngModel)]="password" required formControlName="password" name="password" type="password" matInput placeholder="Password">
                        <!-- <mat-error *ngIf="loginForm.get('password').hasError('minlength') && registerForm.get('password').touched">
                            Password must be minium <strong>6 characters</strong>
                        </mat-error>

                        <mat-error *ngIf="registerForm.get('password').hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error> -->


                    </mat-form-field>
                </p>
                <button (click)="onSubmit()" [disabled]="loading && !loginForm.valid" mat-raised-button color="primary" type="submit">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Login
                            </button>


                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

            </form>
            <div style="margin:30px;cursor:pointer" routerLink="/register">
                <p>New? Create account here.</p>
            </div>

        </div>
    </div>
</div>