@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Changa+One|Saira+Stencil+One|Wallpoet|Zilla+Slab+Highlight&display=swap');
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to top left, #16ccd2, #4F2BD3);
}

.logo {
    width: 45px;
    height: 45px;
    margin: 10px;
}

.main-logo {
    display: contents;
}

@media only screen and (max-width: 2000px) {
    .mat-toolbar-single-row {
        height: 26% !important;
    }
}
.mat-toolbar-single-row {
    height: 17%;
}

.mat-drawer-side {
    border-right: 0px;
    box-shadow: 0px 0px 13px 0px rgba(55, 87, 201, 0.3);
}

.logo-text {
    color: white;
    text-shadow: 1px 1px 2px #363a8a, 0 0 15px #70c2d4, 0 0 5px #5858bc;
    font-family: 'Wallpoet', cursive;
    font-size: 43px;
    padding: 15px 0px 10px 10px;
}

// .mat-sidenav-content {
//     margin-left: 250px !important;
// }
.mat-icon-button {
    align-self: start !important;
    margin: 20px 0 !important;
}

.active-link {
    background-color: rgba(61, 94, 211, 0.28) !important;
    transition-duration: 0.1s;
    border-left: 1.5px solid;
    box-shadow: 10px 0px 15px 0px rgba(55, 87, 201, 0.3);
}

.mat-nav-list .mat-list-item:hover {
    background: rgba(61, 94, 211, 0.18) !important;
}

.mat-flat-button {
    background-color: #3D5ED3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(52, 59, 156, 0.9);
    padding: 2px 30px;
    color: white;
}

.mat-spacer {
    flex: 1 1 auto;
}